@model MainEnterpriseProject.Models.Domain.tab_products
@using MainEnterpriseProject.Models.Utility
@{
    ViewBag.Title = Model.name;
    Layout = "~/Views/Shared/_index.cshtml";
    MainEnterpriseProject.Models.Repository.Rep_resturant FoodAvg = new MainEnterpriseProject.Models.Repository.Rep_resturant();
    MainEnterpriseProject.Models.Repository.WalletRep walletrep = new MainEnterpriseProject.Models.Repository.WalletRep();
    MainEnterpriseProject.Models.Repository.FoodRepository foodRepository = new MainEnterpriseProject.Models.Repository.FoodRepository();
}


<link href="~/Content/UserContent/css/css_20.css" rel="stylesheet" />
<link href="~/Content/UserContent/css/931be1e.css" rel="stylesheet" />
<link href="~/Content/UserContent/css/jquery.rateyo.min.css" rel="stylesheet" />
<link href="~/Content/UserContent/css/PopapSignin.css" rel="stylesheet" />
<script src="~/Scripts/UserScripts/scarab-v2.js"></script>
<script src="~/Scripts/UserScripts/js_82.js"></script>
<link href="~/Content/UserContent/css/BarStyle.css" rel="stylesheet" />
<link href="~/Content/UserContent/css/Toast.css" rel="stylesheet" />
<link href="~/Content/UserContent/css/RatingSingle.css" rel="stylesheet" />
<link href="~/Content/UserContent/css/fontawesome-all.css" rel="stylesheet" />
<br />
<br />

<style>
    .loading-bar {
        display: none;
        position: fixed;
        z-index: 999999;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: url(../../Content/UserContent/images/loading.gif);
        background-position: 50% 50%;
        background-color: rgba(255, 255, 255, 0.8);
        background-repeat: no-repeat;
    }

    body.loading {
        overflow: hidden;
    }

        body.loading .loading-bar {
            display: block;
        }
</style>

<div class="loading-bar">

</div>

<div id="restaurant_banner">
    <div class="center_width tbl">
        <div>
            <div class="tbl" id="restaurant_info">
                <div>

                    <img src="~/Content/UserContent/images/@FoodAvg.ResturantInfo(Model.resID).resImage" />
                </div>
                <div>
                    <span id="rest_info_name">@FoodAvg.ResturantInfo(Model.resID).resName<span id="rest_info_off">@FoodAvg.ResturantInfo(Model.resID).resPhone</span></span>

                    <div class="rest_fo">
                        @if (FoodAvg.ResturantInfo(Model.resID).isGetOrder)
                        {
                            <span style="margin-left:0px;">
                                <img src="~/Content/UserContent/images/Green.png" style="width:15px; height:15px;" />
                            </span>
                            <span style="color:#35870a; margin-left:0px;">رستوران سفارش میپذیرد</span>
                        }
                        else
                        {
                            <span style="margin-left:0px;">
                                <img src="~/Content/UserContent/images/glossy-red.png" style="width:15px; height:15px;" />
                            </span>
                            <span style="color:#8b0404; margin-left:0px;">رستوران سفارش نمیپذیرد</span>
                        }
                    </div>
                    <div class="rest_fo">@FoodAvg.ResturantInfo(Model.resID).resAddress</div>
                    <div class="rest_fo">
                        @if (FoodAvg.ResturantInfo(Model.resID).FirstTime.Split('-')[1].Equals(FoodAvg.ResturantInfo(Model.resID).SecendTime.Split('-')[0]))
                        {
                            <span style="font-size:13px;">@FoodAvg.ResturantInfo(Model.resID).FirstTime.Split('-')[0] الی @FoodAvg.ResturantInfo(Model.resID).SecendTime.Split('-')[1] </span>
                        }
                        else
                        {
                            <span style="font-size:13px;">@FoodAvg.ResturantInfo(Model.resID).FirstTime.Split('-')[0] الی @FoodAvg.ResturantInfo(Model.resID).FirstTime.Split('-')[1] </span>
                            <br />
                            <span style="font-size:13px;">@FoodAvg.ResturantInfo(Model.resID).SecendTime.Split('-')[0] الی @FoodAvg.ResturantInfo(Model.resID).SecendTime.Split('-')[1] </span>
                        }
                    </div>


                </div>
            </div>
        </div>
        <div class="left_align hidden-sm hidden-xs" id="restaurant_info_2" style="padding-left:0px;">
            <div class="tbl" id="restaurant_info">
                <div>
                    <img src="~/Content/UserContent/images/@FoodAvg.ResturantInfo(Model.resID).resImage" />

                </div>
            </div>


        </div>
    </div>
</div>



<div class="inner-page vendor detail-page rtl" itemscope itemtype="http://schema.org/Restaurant">


    <div id="main-container" class="container">
        <div class="row "><div class="col-lg-offset-6 col-lg-3 col-md-offset-5 col-md-4  col-sm-offset-6 col-sm-6 col-xs-offset-0 col-xs-12 zf-filter-vendor view-mode-top"></div></div><div class="row">
            <div class="col-md-12">
                <div class="vendor-content-wrapper box" style="border-top:none">
                    <!-- Nav tabs --><ul class="nav nav-tabs nav-justified" role="tablist">
                        <li class="active">
                            <a href="satarkhan.htm#vendor-menu" aria-controls="vendor-menu" role="tab" data-toggle="tab">
                                جزئیات
                            </a>
                        </li>
                        <li>
                            <a href="satarkhan.htm#vendor-review" aria-controls="vendor-review" role="tab" data-toggle="tab"
                               id="vendor-review-link">
                                نظرات
                            </a>
                        </li>
                    </ul><!-- Tab panes -->
                    <div class="tab-content">


                        <div role="tabpanel" style="width:100%;" class="tab-pane fade in active" id="vendor-menu">


                            <div class="col-md-5">

                                <div class="my_slider_dt">
                                    <h3 class="my_productTitle"><span style="position: relative; right: 0px;">@Model.name</span></h3>

                                    <ul class=" rating-review my_productRate">
                                        <li class="zf-rate-vendor rate-color-8">
                                            <span>@FoodAvg.FoodAverageRateSingle(Model.id)</span>
                                        </li>
                                        <li style="margin-right:4%!important;" class="kk-pp-stars vcenter jq-ry-container" dir="ltr" id="myrateYoo" data-rate="@FoodAvg.FoodAverageRateSingle(Model.id)" readonly="readonly" style="width: 75px;">
                                            <div class="jq-ry-group-wrapper">
                                                <div class="jq-ry-normal-group jq-ry-group">
                                                    <!--?xml version="1.0" encoding="utf-8"?-->
                                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" width="15px" height="15px" fill="#d8d8d8"><polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "></polygon></svg><!--?xml version="1.0" encoding="utf-8"?-->
                                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" width="15px" height="15px" fill="#d8d8d8" style="margin-left: 0px;"><polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "></polygon></svg><!--?xml version="1.0" encoding="utf-8"?-->
                                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" width="15px" height="15px" fill="#d8d8d8" style="margin-left: 0px;"><polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "></polygon></svg><!--?xml version="1.0" encoding="utf-8"?-->
                                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" width="15px" height="15px" fill="#d8d8d8" style="margin-left: 0px;"><polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "></polygon></svg><!--?xml version="1.0" encoding="utf-8"?-->
                                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" width="15px" height="15px" fill="#d8d8d8" style="margin-left: 0px;"><polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "></polygon></svg>
                                                </div>
                                                <div class="jq-ry-rated-group jq-ry-group" style="width:@(FoodAvg.FoodAverageRateSingle(Model.id)*20)%;">
                                                    <!--?xml version="1.0" encoding="utf-8"?-->
                                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" width="15px" height="15px" fill="#868686"><polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "></polygon></svg><!--?xml version="1.0" encoding="utf-8"?-->
                                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" width="15px" height="15px" fill="#868686" style="margin-left: 0px;"><polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "></polygon></svg><!--?xml version="1.0" encoding="utf-8"?-->
                                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" width="15px" height="15px" fill="#868686" style="margin-left: 0px;"><polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "></polygon></svg><!--?xml version="1.0" encoding="utf-8"?-->
                                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" width="15px" height="15px" fill="#868686" style="margin-left: 0px;"><polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "></polygon></svg><!--?xml version="1.0" encoding="utf-8"?-->
                                                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 12.705 512 486.59" x="0px" y="0px" xml:space="preserve" width="15px" height="15px" fill="#868686" style="margin-left: 0px;"><polygon points="256.814,12.705 317.205,198.566 512.631,198.566 354.529,313.435 414.918,499.295 256.814,384.427 98.713,499.295 159.102,313.435 1,198.566 196.426,198.566 "></polygon></svg>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>

                                    <div class="my_productAllPrice kk-price-container kk-discount" style="position: relative; top: 0px;">
                                        <div class="kk-price-wrapper kk-secondary">
                                            <span class="kk-price kk-apply-comma kk-comma-done">@Model.cost</span>
                                            <span class="kk-price-unit">تومان</span>
                                        </div>
                                    </div>
                                    <div class="my_all_p_b" style="position: relative; top: 0px; right: 0px; left: 0px;">
                                        @{
                                            if (walletrep.TimeToOrder() == 1)
                                            {
                                                if (Session["email"] == null)
                                                {
                                                    <div class="my_productPlusButton">
                                                        <a class="add-product-btn kk-add-product-btn" data-toggle="modal" data-target="#mm" title="افزودن در سبد خرید">
                                                            <span>افزودن به سبد خرید</span>
                                                        </a>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="my_productPlusButton">
                                                        <a id="AddToShoppingCart" name="AddToShoppingCart" class="add-product-btn kk-add-product-btn" title="افزودن در سبد خرید">
                                                            <span>افزودن به سبد خرید</span>
                                                        </a>
                                                    </div>
                                                }
                                            }
                                            else
                                            {
                                                <div class="my_productPlusButton">
                                                    <a class="add-product-btn kk-add-product-btn">
                                                        <span>زمان سفارش پایان یافته</span>
                                                    </a>
                                                </div>
                                            }
                                        }


                                        <div class="afteradd_productPlusButton">

                                            <a data-hashtags="pzng4j::1799902::2" class="inc action-btn" id="decbtn-1799902">
                                                <i class="zfi zf-android-add"></i>
                                            </a>

                                            <span class="quantity" qnt="0">
                                                <span class="kk-fa-digit my_detail_quantity kk-fa-digit-done">۰</span>
                                            </span>

                                            <a data-hashtags="pzng4j::1799902::3" class="dec action-btn" id="incbtn-1799902">
                                                <i class="zfi zf-android-remove"></i>
                                            </a>

                                        </div>

                                    </div>
                                    <div class="my_productTozihat">
                                        <span class="my_productTozihatTitle my_productTozihatTitle_tozih">
                                            توضیحات:
                                        </span>
                                        <p class="my_productDescription">@Model.CreateMaterial</p>
                                    </div>
                                </div>

                            </div>

                            <div class="col-md-7">



                                <img src="~/Content/UserContent/images/@Model.foodImage" class="img-responsive" style="width:513px !important; height:300px !important;">


                            </div>
                        </div>

                        <div role="tabpanel" style="width:100%;" class="tab-pane fade" id="vendor-review">
                            <div class="kk-review-container">
                                <ul class="col-md-offset-3 col-md-6 col-xs-12 rating-review">
                                    <li class="zf-rate-vendor rate-color-8"><span>@FoodAvg.FoodAverageRateSingle(Model.id)</span></li>
                                    <li class="kk-pp-stars vcenter" dir="ltr">
                                        @for (int i = 0; i < (5 - FoodAvg.FoodAverageRateSingle(Model.id)); i++)
                                        {
                                            <i class="fa fa-star" style="color:#f2e0c4;"></i>
                                        }
                                        @for (int i = 0; i < FoodAvg.FoodAverageRateSingle(Model.id); i++)
                                        {
                                            <i class="fa fa-star" style="color:#caa66d;"></i>
                                        }
                                    </li>
                                    <li class="reviewCount">
                                        از
                                        مجموع @FoodAvg.resCommentCountSingle(Model.id) رای
                                    </li>
                                </ul>
                                <br />
                                <div id="container">

                                    <div id="bar-1" class="bar-main-container azure">
                                        <div class="col-md-3">
                                            <p>راضی</p>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="wrap">
                                                <div class="bar-percentage" data-percentage="@foodRepository.Satisfied(Model.id)"></div>
                                                <div class="bar-container">
                                                    <div class="bar" style="background:#09af00;"></div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div id="bar-2" class="bar-main-container emerald">
                                        <div class="col-md-3">
                                            <p>ناراضی</p>
                                        </div>
                                        <div class="col-md-9">
                                            <div class="wrap">
                                                <div class="bar-percentage" data-percentage="@foodRepository.NonSatisfied(Model.id)"></div>
                                                <div class="bar-container">
                                                    <div class="bar" style="background:#b00020;"></div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>


                            </div>

                            <hr style="width:85%; border-color:#cca973;" />

                            <div class="kk-review-container">

                                <div class="row">
                                    <form style="text-align:center !important;">
                                        <div class="form-inline">

                                            <div class="row">
                                                <div class="col-md-3"></div>
                                                <div class="col-md-6">
                                                    <div style="width:25%;">

                                                    </div>
                                                    <div style="display: -webkit-inline-box;width:50%;">
                                                        <fieldset class="rating" style="margin-bottom:0px;">
                                                            <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Rocks!"></label>
                                                            <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Pretty good"></label>
                                                            <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Meh"></label>
                                                            <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Kinda bad"></label>
                                                            <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time"></label>
                                                        </fieldset>
                                                    </div>
                                                    <div style="width:25%;">

                                                    </div>
                                                </div>
                                                <div class="col-md-3"></div>

                                            </div>

                                            <input type="hidden" name="Rate" id="Rate" value="" />
                                            <input type="hidden" name="foodID" id="foodID" value="@Model.id" />



                                            <div class="form-horizontal">
                                                <div class="col-md-2"></div>
                                                <div class="col-md-8">
                                                    <div class="form-group" style="display:block !important; margin-top:10px;">
                                                        <textarea name="text" id="text" cols="48" rows="5" style="width:100%; background-color:#efdab9d6 !important; border-radius:5px;border: 1px solid #efdab9d6;"></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-md-2"></div>
                                            </div>
                                            <div class="form-group" style="display:block !important; margin-top:10px;">

                                                @if (Session["email"] == null)
                                                {
                                                    <input type="button" class="form-control" onclick="alert('باید وارد شوید')" value="باید وارد شوید" style="background-color:#c39a58a3 !important;width: 48%; color:#fff!important;border: 1px solid #c39a58a3;">
                                                }
                                                else
                                                {
                                                    if (walletrep.TimeToOrder() == 1 && FoodAvg.ResturantInfo(Model.resID).isGetOrder && walletrep.ResGetOrderStatus(Model.resID) == 1)
                                                    {
                                                        <input type="button" class="form-control" value="ارسال" style="background-color:#c39a58a3 !important;width: 48%; color:#fff!important;border: 1px solid #c39a58a3;" onclick="mySaveComment()">
                                                    }
                                                    else
                                                    {
                                                        <input type="button" class="form-control" value="امکان سفارش وجود ندارد" style="background-color:#c39a58a3 !important;width: 48%; color:#fff!important;border: 1px solid #c39a58a3;">
                                                    }

                                                }
                                            </div>

                                        </div>
                                    </form>

                                </div>

                                <br />
                                <br />

                                @foreach (var item in FoodAvg.lstAllComment(Model.id))
                                {
                                    <div class="row" style="margin-top:15px;">
                                        <div class="container" style="border: 2px solid #d9be94;width:90%;padding-top: 5px;border-radius: 5px;">



                                            <div class="col-md-2">

                                                <div class="row" style="text-align:center;">
                                                    <p style="color:#c39a58; margin-bottom:0px!important;">@item.name</p>
                                                </div>

                                                <div class="row" style="text-align:center;">

                                                    @for (int i = 0; i < (5 - item.Stars); i++)
                                                    {
                                                        <i class="fa fa-star" style="color:#f2e0c4;"></i>
                                                    }
                                                    @for (int i = 0; i < item.Stars; i++)
                                                    {
                                                        <i class="fa fa-star" style="color:#caa66d;"></i>
                                                    }

                                                </div>
                                            </div>

                                            <div class="col-md-2">

                                                <div class="row" style="text-align:center;">
                                                    <p style="color:#ad7c2b;">@item.data.ToPersianDateString()</p>
                                                </div>
                                            </div>

                                            <div class="col-md-8">
                                                <p style="width:100%;color:#ad7c2b;word-break: break-all;overflow-y: auto;height: 40px;">@item.text</p>
                                            </div>
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<style>
    .fiexd-footer.is--hidden {
        display: block !important;
    }

    #default-footer {
        display: none !important;
    }
</style>
</div>




<style>
    .modal {
        z-index: 10400 !important;
    }
</style>

<script type="text/javascript">

    var rate;

    $("#star5").on("click", function () {
        rate = 5;
        $('#Rate').val(rate);
    });

    $("#star4").on("click", function () {
        rate = 4;
        $('#Rate').val(rate);
    });

    $("#star3").on("click", function () {
        rate = 3;
        $('#Rate').val(rate);
    });

    $("#star2").on("click", function () {
        rate = 2;
        $('#Rate').val(rate);
    });

    $("#star1").on("click", function () {
        rate = 1;
        $('#Rate').val(rate);
    });




</script>


<script src="~/Scripts/UserScripts/toast.js"></script>

<script>
    $("#AddToShoppingCart").on('click', function (e) {
        document.body.className = "loading";
        $.ajax({
            type: 'POST',
            dataType: 'Json',
            /**/
            /**/
            /**/
            /**/
            /**/
            url: '@Url.Action("AddShoppingCart", "Home")',
    /**/
    /**/
    /**/
    /**/
    /**/
    /**/
    /**/
    /**/
    /**/
    /**/
    data: { foodID: @Model.id },
    /**/
    /**/
    /**/
    /**/
    /**/
    error: function (err) {
        alert(err.status);
    }
}).done(function (result) {
    document.body.className = "";
    var Text = "";
    if (result == 5) {
        alert("تعداد درخواستی بیشتر از حد مجاز میباشد")
    } else {
        $.each(result, function (index, val) {
            Text += "<div class='row' style='margin:0px'><div><div class='col-md-10' style='background:#f5f5f5;border-radius:4px;width:100%;border:1px solid #e3e3e3;'><div class='row' style='margin-bottom:1%;margin-top:1%;'><button type='button' onclick='RemoveCart(" + val.ID + ")' style='line-height:initial; left:0px; font-size: 1rem;color: #cdab74;outline: none;background-color: transparent;top: 0;width: 1.5rem;height: 1.5rem;border: .1rem solid #cdab74;padding:0 0;margin: 3px;position: absolute;z-index: 1;'><span style='position: relative;'>X</span></button><div class='col-md-4'><div class='row' style='text-align: center;'><div style='display:inline-flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;flex-flow:rowwrap;justify-content:space-around;-webkit-box-align:center;align-items:center;width:15rem;'><div class='col-md-4' style='z-index:1000000;'><button type='button' onclick='CountDown(" + val.ID + ")' id='btnsubtrack' name='btnsubtrack' style='font-size:1.7rem;color:#cdab74;outline:none;background-color:transparent;top:0;width:2.8rem;height:2.8rem;border:1.6pxsolid#cdab74;border:.1rem solid #cdab74;display:-webkit-box;padding:0 0;margin:0 0 0 0;'><span style='position:relative;'>-</span></button></div><div class='col-md-4' style='position:absolute;display:-webkit-box;-webkit-box-pack:center;padding:0 0;margin:0 0 0 0;'><span name='CartCounter' id='CartCounter' style='font-size:1.7rem;color:#cdab74;font-weight:700;line-height:48px;line-height:3rem;'>" + val.FoodCount + "</span></div><div class='col-md-4'><button id='btnAdd' onclick='CountUp(" + val.ID + ")' name='btnAdd' style='font-size:1.7rem;color:#cdab74;outline:none;background-color:transparent;top:0;width:2.8rem;height:2.8rem;border:1.6pxsolid#cdab74;border:.1rem solid #cdab74;display:-webkit-box;padding:00;margin:0000;'><span style='position:relative;'>+</span></button></div></div></div></div><div class='col-md-4'><p style='font-size:1.2em;color:#cdab74;text-align:center;margin-top:0.4em'>" + val.FoodName + "</p></div><div class='col-md-4'><p style='font-size:1.2em;color:#cdab74;text-align:center;margin-top:0.4em'>" + val.FoodTotalPrice + "</p></div></div></div></div>";
        })
    }
    $('#mainRow').html(Text);

});
$.ajax({
    type: 'POST',
    dataType: 'Json',
    /**/
    /**/
    /**/
    /**/
    /**/
    url: '@Url.Action("UnUseCredit", "Home")',
    /**/
    /**/
    /**/
    /**/
    /**/
    data: { ID: 0 },
    error: function (err) {
        alert(err.status);
    }
}).done(function (result) {
    $('#txtTotalPrice').html(result.price);
    $('#txtCredit').html(result.credit);
});
});
</script>

<script>
    function mySaveComment() {
        var star = $('#Rate').val();
        var comment = $('#text').val();
        var foodID = $('#foodID').val();

        if (star == null || star == "") {
            alert("باید برای ثبت نظر ، امتیاز تعیین نمایید");
        } else {
            $.ajax({
                type: 'POST',
                dataType: 'Json',
                url: '@Url.Action("SaveComment", "Home")',
                data: { commentText: comment, commentRate: star, ID: foodID },
                error: function (err) {
                    alert(err.status);
                }
            }).done(function (result) {
                if (result == 1) {
                    alert("نظر با موفقیت ثبت شد");
                } else {
                    alert("خطایی رخ داده لطفا مجددا تلاش نمایید")
                }
                window.location.reload(true);
            });
        }
    }
</script>


<script src="~/Scripts/UserScripts/barJavascript.js"></script>




</div>

