@model List<MainEnterpriseProject.Models.Domain.Tbl_Flower>
@{
    ViewBag.Title = "AddFlowerManager";
    Layout = "~/Views/Shared/_Admin.cshtml";
    int counter = 1;
}

<link href="~/Content/css/manager-icon-button.css" rel="stylesheet" />
<link href="~/Content/css/popup_style.css" rel="stylesheet" />
<style>
    .lr-sticky-header {
        color: white;
        background: lightblue;
        transition: all 0.6s;
    }

    #scrollPanel {
        height: 500px;
        overflow-y: auto;
    }

    .table > thead > tr > th {
        text-align: center;
    }

    .table > tbody > tr > td {
        text-align: center;
        vertical-align: middle;
    }
</style>


<div class="container">
    <div class="row">
        <div style="width:95%; direction:rtl;">
            <table class="table table-bordered">
                <thead style="z-index: 1;">
                    <tr>
                        <th class="headerSort headerSortDown" tabindex="0" role="columnheader button" title="Sort descending">
                            شماره
                        </th>
                        <th width="160" class="headerSort" tabindex="0" role="columnheader button" title="Sort ascending">نام گل</th>
                        <th width="120" class="headerSort" tabindex="0" role="columnheader button" title="Sort ascending">قیمت</th>
                        <th width="150" class="headerSort" tabindex="0" role="columnheader button" title="Sort ascending">نوع دسته بندی</th>
                        <th width="160" class="headerSort" tabindex="0" role="columnheader button" title="Sort ascending">عکس</th>
                        <th width="190" class="headerSort" tabindex="0" role="columnheader button" title="Sort ascending">طرز نگه داری</th>
                        <th class="" title=""></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td><span style="font-family: monospace, monospace;">@counter</span></td>
                            <td>@item.FlwName</td>
                            <td>@item.FlwPrice</td>
                            <td><a style="color:#333333">@item.FlwType</a></td>
                            <td>
                                <span class="nowrap">
                                    <img width="100" height="100" src="~/Content/images/@item.FlwImage" alt="Alternate Text" />
                                </span>
                            </td>
                            <td><span class="nowrap">@item.FlwMaintenance.Substring(0, 5)<a data-toggle="modal" data-target="#@counter.ToString()">...</a></span></td>
                            <td>
                                <div class="col-md-4">

                                </div>
                                <div class="col-md-2">
                                    <div class="social_lock">
                                        <div class="social_case3"></div>
                                        <div class="mk">
                                            <a href="~/Admin/Floriset_EditFlower/@item.ID">
                                                <i class="fa fa-edit vmk1 vm" title="ویرایش"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="social_lock">
                                        <div class="social_case3"></div>
                                        <div class="mk">
                                            <a href="~/Admin/Floriset_DeleteFlower/@item.ID">
                                                <i class="fa fa-remove vmk1 vm" title="حذف"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">

                                </div>
                            </td>
                        </tr>
                        <!--MODAL MINTENCE-->
                        <div class="modal fade" id="@counter.ToString()" role="dialog" aria-labelledby="#@counter.ToString()" tabindex="-1" aria-hidden="true">

                            <div class="modal-dialog" style=" width: 38% !important; min-width:360px; margin:5em auto 0 !important">
                                <div style="background:rgba(255,255,255,.28);height:18px;position:absolute;border-radius:10px;border:none;right:3%;left:3%;top:-8px;"></div>
                                <div style="background:rgba(255,255,255,.08);height:33px;position:absolute;border-radius:10px;border:none;right:5%;left:5%;top:-14px;"></div>
                                <div class="modal-content" style="border-radius:25px!important;">
                                    <div class="modal-body">
                                        <div style="min-width: 360px;">
                                            <br />
                                            <div class="span3 well">
                                                @item.FlwMaintenance
                                            </div>



                                        </div>
                                    </div>

                                </div>

                            </div>



                        </div>
                        <!--END OF MODAL MINTENCE-->
                        counter++;
                    }
                </tbody>
                <tfoot></tfoot>
            </table>
        </div>
    </div>
</div>




<script src="~/Scripts/lrStickyHeader.js"></script>
<script>
    var tables = document.getElementsByTagName('table');
    lrStickyHeader(tables[0]);
    lrStickyHeader(tables[1]);
    lrStickyHeader(tables[2], { parent: document.getElementById('scrollPanel') });
</script>

